@model RazorPagesMovie.Models.Movie

<h1>This is a partial view</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate"></label>
        <input asp-for="ReleaseDate" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>